extends layout

block content

      #left-column
        .nav
          ul
          each val in ['Schedule Appointment', 'Louisville Office', 'New Albany Office']
            li: h3(id=val)= val
      #middle-column-contact
        #contact-schedule-apt
          h2 Schedule an appointment
          p Fill out the information below, including three days that work best for you, and we will call you with options that work best around your schedule!
          form#apt.form(action="#" method="POST")
            input(type="text" name="fName" id="fName" placeholder="First Name")
            input(type="text" name="lName" id="lName" placeholder="Last Name")
            input(type="tel" name="phoneNum" id="phoneNum" placeholder="###-###-####")
            input(type="email" name="email" id="email" placeholder="Email")
            select#office-location
              option Louisville
              option New Albany
            input(type="date" name="aptChoiceOne" id="aptChoiceOne")
            label(for="aptChoiceOne") First Choice
            input(type="date" name="aptChoiceTwo" id="aptChoiceTwo")
            label(for="aptChoiceTwo") Second Choice
            input(type="date" name="aptChoiceThree" id="aptChoiceThree")
            label(for="aptChoiceThree") Third Choice
            input(type="submit" value="Submit")
        #louisville-office
          #contact-phone-wrap
            h3.contact-call Call:
            p.contact-call 502-899-7778
            h3.contact-fax Fax:
            p.contact-fax 502-897-5757
          #contact-address-wrap
            h3.contact-address Find us!
            p.contact-address.one 204 Breckenridge Lane
            p.contact-address.two Louisville, KY 40207
            #louisville-map
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3133.2685588918785!2d-85.65560434948111!3d38.25007699234454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886974db2dd963d9%3A0xebedc6a4a734ae66!2sConrad+Eye+Centers!5e0!3m2!1sen!2sus!4v1468868969112" width="200" height="250" frameborder="0" style="border:0" allowfullscreen)
          #louisville-hours-contact
            h2 Hours
            table
              tr 
                th Monday
                td 9am - 5pm*
                td closed
              tr 
                th Tuesday
                td 9am - 5pm
                td Closed
              tr
                th Wednesday
                td 9am - 5pm*
                td Closed
              tr
                th Thursday
                td 9am - 5pm
                td Closed
              tr
                th Friday
                td 9am - 5pm*
                td Closed
              tr
                th Saturday
                td Closed
                td Closed
              tr
                th Sunday
                td Closed
                td Closed
            p *Office is only open for material pickups and administrative needs.  
        #new-albany-office
          #contact-phone-wrap
            h3.contact-call Call:
            p.contact-call 812-944-6063
            h3.contact-fax Fax:
            p.contact-fax 502-897-5757
          #contact-address-wrap
            h3.contact-address Find us!
            p.contact-address.one 1919 State Street
            p.contact-address.two Suite 210
            p.contact-address.three New Albany, IN 40207
            #new-albany-map
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100229.41754664695!2d-85.8149532170875!3d38.27556819591656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88696c6c2b2af461%3A0x780a51940520c991!2sConrad+Eye+Center!5e0!3m2!1sen!2sus!4v1468872270151" width="200" height="250" frameborder="0" style="border:0" allowfullscreen)
          #new-albany-hours-contact
            h2 Hours
            table
              tr 
                th Monday
                td 1pm - 5pm
                td Open
              tr 
                th Tuesday
                td Closed
                td Closed
              tr
                th Wednesday
                td 9am - 5pm
                td Open
              tr
                th Thursday
                td Closed
                td Closed
              tr
                th Friday
                td Closed
                td Closed
              tr
                th Saturday
                td Closed
                td Closed
              tr
                th Sunday
                td Closed
                td Closed
            