extends layout

block content
  #page-container
    .page-main-text
      h2 Conrad Eye Centers is Kentuckiana's one-stop-shop for all your eye care needs.
      p Here at <strong>Conrad Eye Centers</strong> we know your time is important. That is why we offer a one-stop experience for all of your eye care needs. With locations in <strong>Louisville</strong> and <strong>New Albany</strong> we provide our patients an intimate relaxing environment with easy handicap access, ample parking, flexible schedules, and the best personal ophthalmic eye care possible. Both locations are equipped with a full service optical boutique featuring stylish frames and a wide range of prices. We utilize the most current and advanced technology in diagnostics and surgery, and we are directly affiliated with Physicians Medical Center, a state-of-the-art outpatient surgery facility, and the Suburban Excimer Laser Center so scheduling your next procedure is a breeze. We are here for all your vision needs; Conrad Eye Centers.
    .buttons-container
      #schedule-apt.box
        p Schedule Appointment
      #patient-portal.box
        p Patient Portal
      #review-us.box
        p Review us, Get Stuff
      #lasik.box
        p Ask us about Lasik!
      #premium-eye.box
        p Premium Eye Screening
      #follow-us.box
        p Follow us!
