extends layout

block content
  #page-container
    #static-nav
      ul 
        each val in ['Patient Portal', 'Notice of Privacy Practices', 'Insurance Options']
          li: p(id=val)= val
    #patient-portal-content.content
      #main-content
        h3 All the resources you need to manage your eye care right at your fingertips!
        p Our Patient Portal is a tool for you to utlize to make managing your eye care as simple as possible. For your pre-appointment care, you can schedule your upcoming eye exam. You can also fill out your paperwork, must be filled out no earlier than seven days prior to appointment, to save valuable time in our waiting room.
        p After your eye exam, you can use our patient portal to view your visit summary, review submitted paperwork, reorder contacts, refill a prescription, or send us a secure message.
        a(href="https:portal.conradeyecenters.com" target="_blank") Navigate to our Patient Portal
    #divide-line
    #privacy-practice-content.content
      #main-content    
        h3 At Conrad Eye Centers we take your privacy seriously.
        p We have established policies and procedures to keep your information safe. Visit the link below to learn how we collect, use and protect patient information. If you have any questions or concerns, do not hesitate to contact us.
        p: a(href='') HIPAA Notice
    #divide-line
    #insurance-content.content
      #main-content    
        h3 Conrad Eye Centers accepts most medical and vision plans.
        p Dr. Conrad believes in providing quality care to as many people as possible. That is why we accept most major medical and vision plans. Call today and one of our staff will be happy to check if we accept your insurance coverage.
        h2 Knowing Your Insurance Options
        h3 “Routine/Vision” Exam vs. Medical Exam? What is the difference?
        p At Conrad Eye Centers the health of your eyes is our top priority, and since Dr. Conrad is an ophthalmologist we are able to use your medical insurance to perform in-depth and very detailed examinations of your eyes. However, it is important to know the difference between a medical eye exam and a “routine” vision exam as most insurance plans provide for medical, vision, or both, but almost never within the same appointment.
        h3 Medical Eye Exam
        p A medical eye exam focuses on the health of your eye with emphasis on determining if any eye diseases are present or if any systemic diseases such as diabetes are affecting the eyes. Anytime there is a concern about an infection, injury, disease, or physician consultation involved a medical eye exam will be performed and thus your medical insurance will be utilized. Medical exams usually include dilation so Dr. Conrad can get a detailed look at the sensitive nerves of the retina. Other tests may be performed and/or scheduled during a medical exam as determined by Dr. Conrad.
        h3 Routine/Vision Exam
        p A “routine/vision” exam focuses on the refractive state and general health of the eye. This means Dr. Conrad will check your eyes for refractive errors such as myopia (nearsightedness), hyperopia (farsightedness), presbyopia (inability to see things up close as you age), and astigmatism (poor vision due to corneal shape). A routine exam is centered around getting you set up with the perfect glasses or contact lens prescription to give you the best vision possible.
        h3 Why Should You Care?
        p Many patients have both medical and vision insurance. We are required to use the most appropriate insurance for each specific visit. We value both your eye health and visual comfort, so if you do have medical and vision insurance plans we are happy to conduct both exams on separate days to make maximum use of your benefits. We understand how confusing insurance plans and benefits can be, and that is why we have expertly trained staff ready to answer any questions you may have and schedule your next appointment to get the most for your specific plan.
        h2 Popular Accepted Insurance Plans
        h3 Conrad Eye Centers accepts a wide variety of medical and vision insurance plans.
        p It is our mission to provide comprehensive personalized eye care to those who seek it, so we accept the majority of all vision and medical insurance plans. For your convenience we have provided a list of some of our most frequent insurance options. If you do not see your specific carrier please do not hesitate to call and one of our friendly staff will be happy to check on your coverage for you.
        #content-divide
        #insurance-wraper.gold-bgnd
          h3 In-Network Insurance
          select#insurance-picker
            -var medicalInsurances = [ {name: 'AARP - UHC'},{name: 'Advantica'},{name: 'Advantra Freedom'},{name: 'Aetna'},{name: 'Aetna Senior Supplemental'},{name: 'All Savers'},{name: 'Alliance Healthcare Solutions'},{name: 'Allied Benefit Systems'},{name: 'AlwaysCare Benefits'},{name: 'Ambetter'},{name: 'American Administrator'},{name: 'American Republic'},{name: 'Ameritas Life'},{name: 'Anthem IN Medicaid'},{name: 'Anthem Indiana'},{name: 'Anthem Kentucky'},{name: 'APWU'},{name: 'Assurant Health'},{name: 'Bankers Life'},{name: 'Baptist Health Plan'},{name: 'Beech Street'},{name: 'Benefit Planners'},{name: 'Benesight'},{name: 'Benovision'},{name: 'Block Vision'},{name: 'Blue Cross Blue Shield of Georgia'},{name: 'Blue Cross Blue Shield of Illinois'},{name: 'Blue Cross Blue Shield of Indiana'},{name: 'Blue Cross Blue Shield of Kentucky'},{name: 'BP Benefit Planners'},{name: 'CareFirst Administrators'},{name: 'Caresource Just4Me - Indiana'},{name: 'Caresource Just4Me - Kentucky'},{name: 'CHA Health'},{name: 'ChampVA'},{name: 'Christian Brothers Services'},{name: 'Cigna'},{name: 'Cigna Medical Access'},{name: 'Coloniel Penn'},{name: 'consumers life member service'},{name: 'Co-ordinated Benefits Plan'},{name: 'Coresource'},{name: 'Corporate Benefit'},{name: 'Coventry'},{name: 'Empire Plan'},{name: 'Essence'},{name: 'Eyecare of America'},{name: 'Family Life Insurance Company'},{name: 'Federated'},{name: 'First Health'},{name: 'Freedom Life Insurance'},{name: 'Gateway Health'},{name: 'GEHA'},{name: 'GHI'},{name: 'Gilsbar'},{name: 'GMMI'},{name: 'Golden Rule'},{name: 'Great West'},{name: 'Guardian - Davis Vision'},{name: 'Guardian - VSP'},{name: 'Harington Benefits Services'},{name: 'Health Partners'},{name: 'Health Smart'},{name: 'HealthStar'},{name: 'Hoosier Alliance'},{name: 'Humana'},{name: 'Humana Caresource'},{name: 'Indiana Farm Bureau Insurance'},{name: 'Kentucky Health Cooperative'},{name: 'Key Benefit Administrators'},{name: 'Klais Co'},{name: 'Loyal American'},{name: 'Mailhandlers'},{name: 'Managed Health Services'},{name: 'MDWise'},{name: 'Medben'},{name: 'Medicaid Indiana'},{name: 'Medicaid KY EDS'},{name: 'Medical Mutual'},{name: 'Medical Mutual of Ohio'},{name: 'Medicare B Kentucky'},{name: 'Medicare IN'},{name: 'Medico Insurance Company'},{name: 'Mega Life'},{name: 'Meritain Health'},{name: 'MOAA'},{name: 'Mutual of Omaha'},{name: 'NALC'},{name: 'NGS American'},{name: 'Nippon Life'},{name: 'North American Administrators'},{name: 'Passport Health Plan'},{name: 'Passport Medicare Advantage Plan'},{name: 'PHCS'},{name: 'Physicians Mutual Insurance Company'},{name: 'PIA'},{name: 'Preferred Helath Plan'},{name: 'Principal Life'},{name: 'Railroad Medicare'},{name: 'Sagamore'},{name: 'SIHO'},{name: 'Standard Life & Accident Ins'},{name: 'Starark'},{name: 'Sterling Option'},{name: 'Superior Vision'},{name: 'Three Rivers Preferred'} ]
            each insurance in medicalInsurances
              option= insurance.name
          #insurance-info
            h3 Member Benefit Contact
            span: p#insurance-name.center
            span: p.center: a#insurance-phone 
