body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.1rem;
}


/*============================
==========Modals===============
============================*/


/*=============================
============Appointment========
=============================*/

#modal-wrap {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

#apt-modal {
  display: none;
  background-color: #fefefe;
  margin: 5% auto;
  height: 75%;
  border: 1px solid #888;
  width: 20%;
  box-shadow: 5px 5px 20px #C0B9B9; 
}

#apt-modal h2,
#apt-modal p {
  margin: 15px 20px;
  text-align: justify;
  color: darkblue;
}

#apt-modal input {
  width: 85%;
  height: 30px;
  margin: 10px auto;
  margin-left: 6%;
  text-align: center;
  border-radius: 5px;
  float: left;
  clear: both;
  font-size: 1.1rem;
  color: darkblue;
}

/*===========================
==========Reviews============
===========================*/

#review-modal {
  display: none;
  margin: 5% auto;
  width: 60%;
  height: 80%;
  background-color: #fff;
}

.left {
  width: 49%;
  height: 100%;
  padding-right: 5px;
  border-right: 2px solid rgba(0,0,0,0.5);
  float: left;
  clear: left;
}

.left h2,
.left h3,
.right h2,
.left p {
  color: darkblue;
  text-align: center;
}

.left p {
  text-align: justify;
  margin: 0 10px;
}

.left ul {
  margin-top: 5%;
}

.left li {
  list-style: none;
  text-align: center;
}

.left a {
  text-decoration: none;
  font-size: 1.1rem;
  line-height: 2rem;
}

.left a:hover {
  background: gold;
  padding-right: 10px;
  padding-left: 10px;
}

.right{
  width: 49%;
  float: right;
}

.right form {
  margin-left: 10%;
  margin-top: 5%;
}

.right input {
  float: left;
  clear: both;
  width: 80%;
  height: 30px;
  margin: 10px 0;
}

.right label {
    float: left;
    clear: both;
}

.right select {
  float: left;
  clear: both;
  width: 81%;
  height: 30px;
  margin: 10px 0;
}

.right option {
  margin:  0 25px;
}


/*===========================
==========Premium============
===========================*/

#premium-modal {
  display: block;
  margin: 5% auto;
  width: 60%;
  height: 80%;
  background-color: #fff;
}

#premium-modal .nav {
    background-color: rgba(0,0,0,0.5);
    margin-left: 5px;
}

#premium-modal li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
}

#premium-modal li:hover {
    background-color: gold;
}

#glaucoma-pkg {
    display: block;
}

#retinal-pkg {
    display: none;
}

#glaucoma-link {
    background-color: gold;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.phone-container {
  margin-left: 18%;
}

#modal-apt .phone {
  float: left;
  clear: right;
  width: 50px;
}

#modal-apt label {
  margin-left: 32%;
  color: darkblue;
  font-size: 1.1rem;
  float: left;
  clear: left;
  flex: auto;
  flex-direction: column;
}

/*=============================
========Layout.jade============
=============================*/

#header-container {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 700px;
  background-image:url(../images/refraction.jpg);
  background-size: cover;
}

.header-overlay {
  background-color: rgba(192, 185, 185, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-logo {
  width: 250px;
  height 300px;
  margin-top: 40px;
  margin-left: 2%;
  float: left;
  clear: both;
}

.header-logo img{
  height: 150px;
  width: 250px;
}

.main-nav {
  float: right;
  width: 900px;
  height: 75px;
  margin-right: 1%;
  margin-top: 35px;
  clear: right;
  background-color: rgba(192, 185, 185, 0.7);
}

.main-nav li {
  list-style: none;
  display: inline-block;
  text-align: right;
}

.main-nav a {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
}

#nav-apt {
  border:3px #fff solid;
  border-radius: 20px;
  padding: 5px;
}

.title-container {
  float: left;
  clear: both;
  margin-left: 35%;
  margin-top: 200px;
  background-color: rgba(192, 185, 185, 0.7);
  width: 500px;
    
}

.title-container h1 {
  text-align: center;
  color: #fff;
}

.title-container p {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
}

a {
  color: #00B7FF;
}

#social-links-bkgrnd {
  width: 100%;
  height: 75px;
  background-color: darkblue;
  
}

.social-links-container {
  width: 32%;
  margin: 0 auto;
  
}

.social-icon {
  width: 50px;
  float: left;
  margin: 13px 25px;
}

.social-icon img {
  margin: 0 50px;
  height: 50px;
  width: 50px;
}

#footer-container {
  position: absolute;
  width: 100%;
  background-color: blue;
  margin: 0;
}

.partner-logo-container {
  margin-top: 30px;
  border: 3px solid red;
  width: 20%;
  height: 300px;
  float: left;
}

.office-louisville {
  float: left;
  margin-left: 15%;
  margin-top: 100px;
  color: #fff;
}

.office-louisville p,
.office-indiana p {
  margin: 0;
  padding: 3px 0;
}{
  margin: 0;
  padding: 3px 0;
}

.office-devide {
  float: left;
  margin-top: 55px;
  margin-left: 3%;
  margin-right: 3%;
  width: 1px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 1px;
  background-color: #fff;
}

.office-indiana {
  margin-left: 15%;
  margin-top: 85px;
  color: #fff;
} 

/*==========================
=========index.jade=========
==========================*/

#page-container {
  width: 80%;
  margin: 0 auto;
}

.page-main-text {
  width: 60%;
  margin: 50px auto;
  color: darkblue;
}

.page-main-text h2 {
  text-align: center;
  line-height: 2.3rem;
}

.page-main-text p {
  text-align: justify;
  line-height: 1.7rem;
}

.box {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 50px 5.7%;
}

#schedule-apt {
    background-image: url(../images/schedule.jpg);
    background-size: contain;
}

#patient-portal {
    background-image: url(../images/portal.jpg);
    background-size: contain;
}

#review-us {
    background-image: url(../images/reviews.jpg);
    background-size: contain;
}

#lasik {
    background-image: url(../images/lasik.jpg);
    background-size: contain;
}

#premium-eye {
    background-image: url(../images/premium.jpg);
    background-size: contain;
}

#follow-us {
    background-image: url(../images/follow-us.jpg);
    background-size: contain;
}
.box >p {
    color: darkblue;
    text-align: center;
    clear: both;
    margin: 85% 0 0 0; 
}


