body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
p, 
input,
label,
th,
td{
    color: #152157;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 1.7rem;
}

h3,
th {
  font-size: 1.5rem;
}

p,
li,
a,
input,
td {
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
}

a {
  color: #556091
}

li:hover {
    background-color: rgb(132, 139, 174);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

/*==================================================================================================
==========================================Classes===================================================
===================================================================================================*/

.center {
  text-align: center;
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/*====================================================================================================
===========================================Modal Sizes================================================
=====================================================================================================*/

#modal-wrap {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-thin {
    margin: 5% auto;
    background-color: #f3f3f3;
    height: 80%;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 5px 5px 20px #c0B9B9;
}

.modal-wide .left h2,
.modal-wide .left h3,
.modal-wide .right h2,
.modal-thin h2 {
    margin: 10px 0;
    text-align: center;
}

.modal-wide textarea {
  margin: 0;
  width: 80%;
  height: 250px;
  resize: none;
}

.modal-wide .left p,
.modal-thin p {
    margin: 10px 10px;
    text-align: justify
}

.modal-thin input,
.form input{
    width: 85%;
    height: 30px;
    margin: 10px auto;
    margin-left: 6%;
    text-align: center;
    float: left;
    clear: both;
}

.modal-thin label,
.form label{
    float: left;
    width: 100%;
    text-align: center;
}

.modal-thin select,
.form select{
  width: 85%;
  height: 30px;
  margin: 10px auto;
  margin-left: 6%;
}

.modal-thin option {
  text-align: center;
}

.modal-thin ul {
    padding: 0;
}

.modal-thin li {
    text-align: center;
    margin: 0 auto;
    width: 45%;
    line-height: 1.5rem;
}

/*========================================Modal Wide=================================================*/

.modal-wide {
  margin: 5% auto;
  width: 60%;
  height: 88%;
  background-color: #fff;
  box-shadow: 5px 5px 20px #c0B9B9;
}

.modal-wide .left {
  width: 49%;
  height: 100%;
  padding-right: 5px;
  border-right: 2px solid rgba(0,0,0,0.5);
  float: left;
  clear: left;
}

.modal-wide .left ul {
  padding: 0;
}

.modal-wide .left li {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.modal-wide .left a {
  line-height: 1.7rem;
  display: block;
}

.modal-wide .left a:hover {
  background: #848BAE;
  padding: 3px 7px;
  color: #fff;
}

.modal-wide .right{
  width: 49%;
  float: right;
}

.modal-wide .right form {
  margin-left: 10%;
  margin-top: 5%;
}

.modal-wide .right input {
  float: left;
  clear: both;
  width: 80%;
  height: 30px;
  margin: 10px 0;
}

.modal-wide .right label {
    float: left;
    clear: both;
}

.modal-wide .right select {
  float: left;
  clear: both;
  width: 81%;
  height: 30px;
  margin: 10px 0;
}

.modal-wide .right option {
  margin:  0 25px;
}

/*======================================Modal Display=================================================*/

#apt-modal {
  display: none;
}

#review-modal {
  display: none;
}

#premium-modal {
  display: none;
}

#follow-modal {
  display: none;
}

/*===========================
==========Premium============
===========================*/

#premium-modal .nav {
    background-color: #556091;
    margin-left: 2px;
}

#premium-modal li {
    display: inline-block;
    margin: 0 5px; 
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}

#glaucoma-pkg {
    display: block;
}

#retinal-pkg {
    display: none;
}

#glaucoma-link {
    background-color: #848BAE;
}



/*======================================================================================================
===========================================Layout.jade==================================================
======================================================================================================*/

#header-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 600px;
  background-image:url(../images/refraction.jpg);
  background-size: cover;
}

.header-overlay {
  background-color: rgba(192, 185, 185, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.header-logo {
  width: 250px;
  height 300px;
  margin-top: 40px;
  margin-left: 2%;
  float: left;
  clear: both;
}

.header-logo img{
  height: 150px;
  width: 250px;
}

.main-nav {
  float: right;
  width: 800px;
  margin-right: 1%;
  margin-top: 35px;
  clear: right;
  background-color: rgba(132, 139, 174, 0.7);
}

.main-nav li {
  list-style: none;
  display: inline-block;
  text-align: right;
}

.main-nav a {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-size: 1.3rem;
  text-align: right;
  font-weight: bold; 
}

#nav-apt {
  border:3px #fff solid;
  border-radius: 20px;
  padding: 5px;
  margin-left: 15px;
}

#nav-apt:hover {
  border-radius: 20px;
}

.title-container {
  float: left;
  clear: both;
  margin-left: 35%;
  margin-top: 200px;
  background-color: rgba(132, 139, 174, 0.7);
  width: 500px;
    
}

.title-container h1 {
  text-align: center;
  color: #fff;
}

.title-container h3 {
  color: #fff;
  text-align: center;
}

/*=====================================Social Footer =================================================*/

#social-links-bkgrnd {
  width: 100%;
  height: 75px;
  background-color: #303C74;
  clear: both;
  
}

.social-links-container {
  width: 23%;
  margin: 0 auto;
  
}

.social-icon {
  width: 40px;
  float: left;
  padding: 13px 20px;
}

.social-icon img {
  height: 50px;
}

/*==========================================Main Footer===============================================*/

#footer-container {
  position: absolute;
  width: 100%;
  background-color: #556091;
  margin: 0;
  padding-bottom: 15px;
}

.partner-logo-container {
  margin-top: 40px;
  margin-left: 3%;
  width: 10%;
  height: 100%;
  float: left;
}

.bbb-logo img,
.aao-logo img{
  width: 100%;
}

.office-louisville {
  float: left;
  clear: right;
  margin-left: 19.5%;
  margin-top: 50px;
  color: #fff;
}

.office-louisville p,
.office-indiana p {
  margin: 0;
  padding: 3px 0;
  color: #fff;
}

.office-devide {
  float: left;
  margin-top: 40px;
  margin-left: 3%;
  margin-right: 3%;
  width: 1px;
  height: 120px;
  border: 1px solid #fff;
  border-radius: 1px;
  background-color: #fff;
}

.office-indiana {
  float: left;
  margin-top: 40px;
  color: #fff;
} 

.patient-reviews-foot {
  margin-top: 40px;
  float: left;
  clear: right;
  width: 25%;
}

.patient-reviews-foot h2 {
  margin: 0;
  color: #fff;
}

.patient-reviews-foot ul {
  margin-top: 10px;
  padding: 0;
}

.patient-reviews-foot p {
  line-height: 1.5rem;
  color: #fff;
  font-weight: normal;
}

/*==========================
=========index.jade=========
==========================*/

#page-container {
  width: 80%;
  margin: 0 auto;
}

.page-main-text {
  width: 60%;
  margin: 50px auto;
}

.page-main-text h2 {
  text-align: center;
  line-height: 2.3rem;
}

.page-main-text p {
  text-align: justify;
  line-height: 1.7rem;
}

.box {
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 50px 8.7%;
}

.buttons-container {
  text-align: center;
}

#schedule-apt {
    background-image: url(../images/schedule.jpg);
    background-size: contain;
}

#patient-portal-button {
    background-image: url(../images/portal.jpg);
    background-size: contain;
}

#review-us {
    background-image: url(../images/reviews.jpg);
    background-size: contain;
}

#lasik {
    background-image: url(../images/lasik.jpg);
    background-size: contain;
}

#premium-eye {
    background-image: url(../images/premium.jpg);
    background-size: contain;
}

#follow-us {
    background-image: url(../images/follow-us.jpg);
    background-size: contain;
}
.box p {
    text-align: center;
    clear: both;
    margin: 85% 0 0 0; 
}



/*==========================
==service/about Template====
==========================*/

#content {
position: absolute;
}

#left-column {
  /* background-color: #556091; */
  background-color: #848BAE;
  width: 20%;
  float: left;
}

#left-column ul {
  padding: 0;
  margin: 0;
}

#left-column h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: 3.5%;
  color: #152157;
}

#left-column h3:hover {
  color: #fff;
}

#middle-column {
  width: 55%;
  float: left;
  //background-color: #D4C770;
}

#middle-column .middle-container {
  padding: 0 5%;
}

#middle-column h3 {
  text-align: justify;
}

#middle-column p {
  text-align: justify;
}

#right-column {
  float: left;
  width: 25%;
  background-color: #FFF5B8;
}

#right-column .right-container {
  padding: 0 2%;
}

.right-column-active {
  position: absolute;
  left: 1332px;
  top: 700px;
  width: 30%;
  background-color: #FFF5B8;
}


/*=====Common Problems=====*/

#common-problem {
  height: 35px;
  width: 75%;
  margin: 15px 10%;
  color: #152157;
  font-size: 1.1rem;
  background-color: #fff;
  
}


/*=====disease-sidebar=====*/

#disease-sidebar ul {
  padding: 0;
}

#disease-sidebar a {
  line-height: 1.5rem;
}

#disease-sidebar li:hover {
  background-color: #fff;
  width: 60%;
}

#common-problem-text {
  line-height: 1.3rem;
}


/*==========================
========Service.jade========
==========================*/

#static-nav {
  opacity: 0;
  position: fixed;
  width: 100px;
  top: 15%;
  right: 0px;
  background-color: rgba(132, 139, 174, 0.7);
  transition-property: opacity;
    transition-duration: 1.5s;
}

#static-nav ul {
  padding: 0;
}

#static-nav p a {
  display: block;
  font-size: 1rem;
  color: #fff;
}

.static-active {
  background-color: rgb(132, 139, 174); 
}

#container {
  height: 100%;
  padding: 50px 0;
}

#main-content {
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

#main-content p {
  text-align: justify;
}

#divide-line {
  border: 1.5px solid #303C74;
  margin: 15px auto;
  width: 80%;
  clear: both;
}

#content-divide {
  width: 60%;
  border: 1.5px solid #FFF5B8;
  margin: 50px auto;
  clear: both;
}

#insurance-wraper {
  text-align: center;
}


/*=========================================================================
================================GLS & CLS==================================
=========================================================================*/

#gls-brands,
#cls-brands {
  margin: 0 auto;
  width: 40%;
  border: 2px solid silver;
}

#gls-brands td {
  height: 30px;
}

#gls-brands tr:nth-child(even),
#cls-brands tr:nth-child(even) {
  background-color: #FFF5B8;
}


/*=========================================================================
================================Injury-Content=============================
=========================================================================*/

#common-problem-wrap {
  width: 78%;
  margin: 0 auto;
  padding: 15px;
  background-color: #FFF5B8;
}

#common-problem-text {
  text-align: justify;
}

#injury-resource-wrap ul {
  width: 40%;
  text-align: justify;
  margin: 0 auto;
}


/*=========================================================================
================================Eye Disease=============================
=========================================================================*/

#premium-testing-chart {
 width: 100%;
 border: 3px solid silver;
}

#premium-testing-chart p {
  font-size: 1rem;
}

#premium-testing-chart th p {
  text-align: center;
}

#premium-testing-chart th {
 width: 300px;
}

#premium-testing-chart td p {
  text-align: center;
}


/*++++++++OLD+++++++++++++
++++++++++++++++++++++++++
++++++++++++++++++++++++*/

#vision-networks {
  float: left;
  clear: right;
  text-align: center;
}

#premium-testing-chart th {
 width: 250px;
}

#premium-testing-chart tr {
  padding: 0 -50px;
}

#premium-testing-chart tr:nth-child(odd) {
  background-color: #FFF5B8;
}

#form-new {
  width: 30%;
  margin: 0 auto;
  border: 3px solid silver;
  padding: 15px;
  background-color: #FFF5B8;
}

#form-new input,
#form-new label,
#form-new select{
  width: 100%;
  height: 35px;
  text-align: center;
}



/*==========================
========About.jade========
==========================*/


/*=====Office Info=====*/


.table-position {
  margin: 30px auto;
}

.table-text th {
  width: 125px;
  height: 35px;
  font-size: 1.1rem;
  text-align: left;
}

.table-text td {
  width: 200px;
  padding: 10px 0;
}

#main-content.office-note {
    margin-top: 20px;
}

#main-content.office-note p {
  text-align: center;
}

#louisville-hours,
#new-albany-hours {
  margin-left: 80px !important;
}


/*===========================Laser Center ====================
============================================================*/

#main-content .center {
  text-align: center;
}



/*==========================
============================
============================
======Style for Tablet======
============================
============================
==========================*/


@media (max-width: 1024px) {
 

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.3rem;
}

h3,
th {
  font-size: 1rem;
}

p,
li,
a,
input,
td {
    font-size: 0.9rem;
    text-decoration: none;
    list-style: none;
}

/*============================
==========Modals===============
============================*/


.modal-thin {
    margin: 0% auto;
    background-color: #f3f3f3;
    height: 80%;
    border: 1px solid #888;
    width: 35%;
    box-shadow: 5px 5px 20px #c0B9B9;
    overflow: scroll;
}

.modal-thin input,
.form input{
    width: 85%;
    height: 30px;
    margin: 10px auto;
    margin-left: 6%;
    text-align: center;
    float: left;
    clear: both;
}

.modal-thin select,
.form select{
  width: 85%;
  height: 30px;
  margin: 10px auto;
  margin-left: 6%;
}

/*==========Modal Wide======*/

.modal-wide {
  margin: 0% auto;
  width: 80%;
  height: 80%;
  background-color: #fff;
  box-shadow: 5px 5px 20px #c0B9B9;
  overflow: scroll;
}


/*=============================
========Layout.jade============
=============================*/

.main-nav {
  float: right;
  width: 600px;
  margin-right: 1%;
  margin-top: 35px;
  clear: right;
  background-color: rgba(132, 139, 174, 0.7);
}

.main-nav a {
  color: #fff;
  padding: 8px;
  text-decoration: none;
  font-size: 1rem;
  text-align: right;
  font-weight: bold; 
}

.title-container {
  float: left;
  clear: both;
  margin-left: 25%;
  margin-top: 200px;
  background-color: rgba(132, 139, 174, 0.7);
  width: 500px;
    
}


/*=======Social Footer =======*/

.social-links-container {
  width: 50%;
  margin: 0 auto;
}

/*=====Main Footer=====*/

#footer-container {
  position: absolute;
  width: 100%;
  background-color: #556091;
  margin: 0;
  padding-bottom: 15px;
  height: 100%;
}

.partner-logo-container {
  margin-top: 40px;
  margin-left: 3%;
  width: 10%;
  height: 150px;
  float: left;
}

.bbb-logo img,
.aao-logo img{
  width: 150px;
}

.office-louisville {
  float: left;
  clear: right;
  margin-left: 9%;
  margin-top: 50px;
  color: #fff;
}

.patient-reviews-foot {
  margin-top: 40px;
  float: left;
  clear: right;
  width: 30%;
}


/*==========================
=========index.jade=========
==========================*/

.page-main-text h2 {
  text-align: center;
  line-height: 2.0rem;
}

.page-main-text p {
  text-align: justify;
  line-height: 1.5rem;
}


/*==========================
==service/about Template====
==========================*/



#middle-column {
  width: 45%;
  float: left;
  //background-color: #D4C770;
}



#right-column {
  float: left;
  width: 35%;
  height: 100%;
  background-color: #FFF5B8;
}


  
#vision-networks th {
  text-align: left;
}


/*=====Common Problems=====*/

#common-problem {
  height: 35px;
  width: 75%;
  margin: 15px 10%;
  color: #152157;
  font-size: 1.1rem;
  background-color: #fff;
}


/*==========================
========Service.jade========
==========================*/

#vision-networks {
  float: left;
  clear: right;
}

th#vision-member-ben,
td#vision-member-ben {
  display: block;
  padding-left: 50px;
}

#vision-phone {
  float: left
}

/*==========================
========About.jade========
==========================*/

/*=====Office Info=====*/
  
#general-content {
  margin-left: 35%;
}

.button-wrap {
  margin-left: 35%;
  width: 600px;
  float: left;
}

.button-wrap h3 {
  margin: 0 10% 0 0;
  border: 3px solid;
  float: left;
  width: 100px;
}

#louisville-wrap,
#new-albany-wrap {
  width: 100%;
  float: left;
  margin-left: 35%;
}
  
#new-albany-wrap {
  display: none;
}
  
#louisville-hours,
#new-albany-hours {
  margin-top: 20px;
  margin-left: 0;
  clear: none;
}




/*==========================
======Resources.jade========
==========================*/
  
#insurance-info-wrap .button-wrap {
  margin-left: 0;
}
  
#vision-insurance th,
#vision-insurance td {
  padding-right: 60px;
} 



/*==========================
=======Contact=.jade========
==========================*/
  
#middle-column-contact {
  width: 80%;
  float: left;
}
  
#contact-schedule-apt {
  display: block;
}
  
#contact-schedule-apt h2{
  margin-left: 24%;
}
  
#contact-schedule-apt p {
  width: 330px;
  margin-left: 18%;
}
  
#louisville-office,
#new-albany-office {
  display: none;
}


#apt label,
#apt input,
#apt select{
  float: left;
  clear: both;
}

.form input{
    width: 40%;
    height: 30px;
    margin: 10px auto;
    margin-left: 18%;
    text-align: center;
    float: left;
    clear: both;
}

.form label{
    float: left;
    width: 200px;
    text-align: center;
  padding-left: 25%;
}

.form select{
  width: 40%;
  height: 30px;
  margin: 10px auto;
  margin-left: 18%;
}

/*=========Louisville Office==========*/

#contact-phone-wrap,
#contact-address-wrap {
  width: 35%;
  float: left;
  clear: right;
  margin-left: 5%
}
  
#louisville-hours-contact,
#new-albany-hours-contact {
  margin-top: -200px;
  margin-left: 5%;
  float: left;
  clear: both;
  width: 35%;
}

.contact-call h3 {
  margin: 25px 0 0 10px;
  width: 50px;
  clear: right;
  float: left;
}

.contact-call p {
  float: left;
  margin: 27px 0 0 90px;
}

.contact-fax h3 {
  margin: 10px 0 0 10px;
  clear: left;
  float: left;
  width: 50px;
}

.contact-fax p {
  float: left;
  margin: 15px 0 0 90px;
}



}